<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" href="/css/address.css">
	</head>
	<body class="address-container">

    <div class="nav-container">
      <% include ../partials/navbar.ejs %>
    </div>

		<div class="content-container">
			<h1><%= address %></h1>
			<div id="notice"></div>
			<br>
			<b>Balance</b>: <span id="balance">loading...</span><BR>
			<b>USD Value</b>: <span id="value">loading...</span><BR>
			<b>Related to the following entries<i id="related-count"></i></b>:
			<div id="related-list">Loading...</div>
            <br>
			<a target="_blank" id="explorer" href="https://etherscan.io/address/<%= address %>"><i class="external icon"></i> View address information</a><BR>
            <br>
            <hr>
            <br>
            <div id="disqus_thread"></div>
        </div>
        
        <div class="footer-container">
            <% include ../partials/footer.ejs %>
        </div>

		<script>
			var disqus_config = function () {
				this.page.url = "http://etherscan.io/address/<%= address %>#disqus";
				this.page.identifier = "Etherscan_<%= address %>";
			};
			(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://etherscan.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<script src="/js/address.js"></script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</body>
</html>
