<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" href="/css/api.css">
	</head>
	<body class="api-container-grid">
		<div class="nav-container">
			<% include ../partials/navbar %>
		</div>
		<div class="header-container">
			Apiary
		</div>
		
		<div class="content-container">
			<div class="api-item-container">
				<div class="subheader-container">Check</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/check/0xDaa29859836D97C810c7F9D350D4A1B3E8CafC9a/" (can be a domain, ethereum address, or ip address)</div><BR>
				<b>Response: </b>
				<div id="check_segment" class="ui long inverted segment">
					<div id="check_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="check_response margin-textbox">
		
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Report</div>
				<b>Example URL</b>: <a target="_blank" class="text-dark" href="/report/domain/fake-mycrypto.com/">https://cryptoscamdb.org/report/domain/fake-mycrypto.com/</a><BR>
				<b>Another example URL</b>: <a target="_blank" class="text-dark" href="/report/address/0x0000000000000000000000000000000000000000/">https://cryptoscamdb.org/report/address/0x0000000000000000000000000000000000000000/</a><BR><BR>
				All of the values (fake-mycrypto.com and 0x0000000000000000000000000000000000000000) are optional.
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Scams</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/scams/"</div><BR>
				<b>Response: </b>
				<div id="scams_segment" class="ui long inverted segment">
					<div id="scams_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="scams_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Addresses</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/addresses/"</div><BR>
				<b>Response: </b>
				<div id="addresses_segment" class="ui long inverted segment">
					<div id="addresses_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="addresses_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">IPs</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/ips/"</div><BR>
				<b>Response: </b>
				<div id="ips_segment" class="ui long inverted segment">
					<div id="ips_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="ips_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Verified</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/verified/"</div><BR>
				<b>Response: </b>
				<div id="verified_segment" class="ui long inverted segment">
					<div id="verified_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="verified_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Blacklist</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/blacklist/"</div><BR>
				<b>Response: </b>
				<div id="blacklist_segment" class="ui long inverted segment">
					<div id="blacklist_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="blacklist_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Whitelist</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/whitelist/"</div><BR>
				<b>Response: </b>
				<div id="whitelist_segment" class="ui long inverted segment">
					<div id="whitelist_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="whitelist_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Inactives</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/inactives/"</div><BR>
				<b>Response: </b>
				<div id="inactives_segment" class="ui long inverted segment">
					<div id="inactives_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="inactives_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Actives</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/actives/"</div><BR>
				<b>Response: </b>
				<div id="actives_segment" class="ui long inverted segment">
					<div id="actives_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="actives_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Abuse report</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cryptoscamdb.org/api/abusereport/changellyli.com/"</div><BR>
				<b>Response: </b>
				<div id="abusereport_segment" class="ui long inverted segment">
					<div id="abusereport_loader" class="ui active dimmer">
						<div class="ui loader"></div>
					</div>
					<pre class="abusereport_response margin-textbox">
						
					</pre>

					<br><br><br>
				</div>
			</div>
		</div>

		<div class="footer-container">
			<% include ../partials/footer.ejs %>
		</div>
		
		<script src="/js/api.js"></script>
	</body>
</html>