<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" href="/css/api.css">
	</head>
	<body class="api-container-grid">

		<div class="nav-container">
			<% include ../partials/navbar %>
        </div>
        
        <div class="header-container">
            Apiary
            <img src="/assets/symbols/api-black.svg">
        </div>
        
		<div class="content-container">
			<div class="api-item-container">
				<div class="subheader-container">Check</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://api.cryptoscamdb.org/v1/check/0xDaa29859836D97C810c7F9D350D4A1B3E8CafC9a/" (can be a domain, ethereum address, or ip address)</div><BR>
				<b>Response: </b>
				<div id="check_segment" class="ui long inverted segment">
					<div class="check lds-dual-ring"></div>
					<pre class="check_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Scams</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://api.cryptoscamdb.org/v1/scams/"</div><BR>
				<b>Response: </b>
				<div id="scams_segment" class="ui long inverted segment">
					<div class="scams lds-dual-ring"></div>
					<pre class="scams_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Addresses</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://api.cryptoscamdb.org/v1/addresses/"</div><BR>
				<b>Response: </b>
				<div id="addresses_segment" class="ui long inverted segment">
					<div class="addresses lds-dual-ring"></div>
					<pre class="addresses_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">IPs</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://api.cryptoscamdb.org/v1/ips/"</div><BR>
				<b>Response: </b>
				<div id="ips_segment" class="ui long inverted segment">
					<div class="ips lds-dual-ring"></div>
					<pre class="ips_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Verified</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://api.cryptoscamdb.org/v1/verified/"</div><BR>
				<b>Response: </b>
				<div id="verified_segment" class="ui long inverted segment">
					<div class="verified lds-dual-ring"></div>
					<pre class="verified_response margin-textbox">
						
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Raw data</div>
				<b>URL</b>: <div class="ui indexed-url">GET "https://cdn.cryptoscamdb.org/blacklist/urls.json" (either blacklist or whitelist, either .json or .yaml)</div><BR>
				<b>Response: </b>
				<div id="raw_segment" class="ui long inverted segment">
					<div class="raw lds-dual-ring"></div>
					<pre class="raw_response margin-textbox">
		
					</pre>
				</div>
			</div>
			<br>
			<br>
			<div class="api-item-container">
				<div class="subheader-container">Report</div>
				<b>Example Short URL</b>: <a target="_blank" class="text-dark" href="/report/domain/fake-mycrypto.com/">https://cryptoscamdb.org/report/domain/fake-mycrypto.com/</a><BR>
				<b>Another example Short URL</b>: <a target="_blank" class="text-dark" href="/report/address/0x0000000000000000000000000000000000000000/">https://cryptoscamdb.org/report/address/0x0000000000000000000000000000000000000000/</a><BR><BR>
				All of the values (fake-mycrypto.com and 0x0000000000000000000000000000000000000000) are optional.
			</div>
		</div>
		<div class="footer-container">
			<% include ../partials/footer.ejs %>
		</div>
		
		<script src="/js/api.js"></script>
	</body>
</html>