<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" integrity="sha256-g4+HzlttFiqgeuCnx3m308o0ahuBZ+0CRxaRWfSL0BU=" crossorigin="anonymous">
	</head>
	<body class="config-grid">
		<div class="config-content">
			<div class="ui segment" style="padding: 10% 20% 20% 20%;">
				<h1>Configuration</h1>
				<br>
				<br>
				<% if(production) { %>
					<p>Because your app was launched into production mode, the configuration process cannot be started. Please relaunch into development mode or manually create the config.json</p>
				<% } else if(done) { %>
					<p>Your preferred configuration was saved successfully. Please restart this application for changes to apply.</p>
				<% } else { %>
					<form class="ui form" action="/config/" method="POST">
						<div class="grouped fields">
							<h3>General</h3>
							<div class="inline field">
								<label>Port</label>
								<input type="number" name="port" value="5111">
							</div>
						</div>
						<br>
						<div class="grouped fields">
							<h3>API Keys (optional)</h3>
							<div class="field">
								<label>Google Safebrowsing (see <a href="https://developers.google.com/safe-browsing/v4/get-started">here</a>)</label>
								<input type="text" name="google-safebrowsing" placeholder="API_KEY">
							</div>
							<div class="field">
								<label>VirusTotal (see <a href="https://www.virustotal.com/nl/documentation/public-api/">here</a>)</label>
								<input type="text" name="virustotal" placeholder="API_KEY">
							</div>
						</div>
						<br>
						<br>
						<div class="ui primary submit button">Submit</div>
						<div class="ui negative button" id="reset-button">Reset</div>
					</form>
				<% } %>
			</div>
    </div>
    <div class='footer-grid'>
      <% include ../partials/footer.ejs %>
    </div>
		<script>
		$('.ui.accordion').accordion();
		
		
		$(".ui.submit.button").click(() => {
			$(".ui.form").addClass("loading");
			$(".ui.form").submit();
		});
		
		$("#reset-button").click(() => {
			window.location.reload();
		});
		</script>
	</body>
</html>