<!DOCTYPE html>
<html lang="en">
	<head>
        <% include ../partials/header.ejs %>
        <link rel="stylesheet" href="/css/faq.css">
	</head>
	<body class="faq-container-grid">

        <div class="nav-container">
            <% include ../partials/navbar %>
        </div>

        <div class="header-container">
            Frequently Asked Questions
            <img src="/assets/symbols/faq-black.svg" width="60px">
        </div>
                
        <div class="content-container">
            <div class="">
                <h2>How to protect myself against scammers?</h2>
                <ul>
                    <li><b>Use cold storage</b> - Buy a <a href="https://www.ledgerwallet.com/r/6e75?path=/products/">Ledger Nano S</a> or a <a href="https://shop.trezor.io?a=luit.hollander@gmail.com">Trezor</a></li>
                    <li><b>Bookmark your crypto sites</b> - Use those bookmarks and only those.</li>
                    <li><b>Only send funds to trusted addresses</b> - Double-check what address you're sending ETH to. Look up the address at <a href="https://etherscan.io">etherscan.io</a> and check if there are bad reviews</li>
                    <li><b>Never trust any discord/slack/telegram/reddit message</b> - Don't ever fall for messages that say you can get free ETH or that a hack has occurred.</li>
                </ul>
                MyCrypto has written a great guide on <a href="https://support.mycrypto.com/security/securing-your-ethereum.html">protecting yourself and your funds</a>.
                <h2>How can I join the fight?</h2>
                <ul>
                    <li>Report scams to us <a href="../report">here</a></li>
                    <li>Report scams to Google: <a href="https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en">https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en</a></li>
                    <li>Send abuse reports to the registrar, hosting and ssl provider of the scam domains</li>
                    <li>Install the <a target="_blank" href="https://chrome.google.com/webstore/detail/etheraddresslookup/pdknmigbbbhmllnmgdfalmedcmcefdfn?sid=1o2S15">EtherAddressLookup</a> extension on your browser</li>
                </ul>
                <h2>Can I use the data from this project?</h2>
                Yes, you can either <a href="https://raw.githubusercontent.com/CryptoScamDB/blacklist/master/data/urls.yaml" target="_blank">download the raw data files from Github</a> or take a look at our <a href="/api">API</a>.
                <h2>Are the reports open source? Where do they go?</h2>
                <p>All reports end up in a private Slack to protect people's privacy. The reports can be read by all team members of MyCrypto and they can decide whether the report makes it to the blacklist.</p>
                <h2>Why was this database created?</h2>
                <p>The database was created in July 2017 as EtherScamDB(.info), when trying to find a solution to the ethereum scams. In 2018, we migrated to CryptoScamDB(.org) in order to indicate our support of the wider cryptocurrency ecosystem. 
                  Of course grouping all the scams won't make them go away, but it will make identifying them and taking them down easier. It is now being maintained by members of the <a href="https://mycrypto.com">MyCrypto</a> team. </p>
				<hr>
				<p>If you have any other questions and would like to get in contact with us, please shoot us an email at <a href="mailto:contact@cryptoscamdb.org">contact@cryptoscamdb.org</a>.</p>
            </div>
        </div>

		<div class="footer-container">
            <% include ../partials/footer.ejs %>
        </div>

	</body>
</html>