<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../partials/header %>
	<link rel="stylesheet" href="/css/scams.css">
	<link rel="stylesheet" href="/css/stats.css">
	<link rel="stylesheet" href="/css/search.css">
</head>

<body class="scams-container-grid">
	<div class="navbar-grid-frame">
			<% include ../partials/navbar %>
	</div>
	<div class="stats-grid-frame">
			<% include ../partials/stats %>
	</div>
	<div class="search-grid-frame">
			<% include ../partials/search %>
	</div>
	<div class="scams-table-grid-frame">
			<div class="lds-dual-ring"></div>
			<table class="sortable" id="results-table">
					<thead>
						<tr>
							<th onclick='changeSorting("name")'>Name</th>
							<th onclick='changeSorting("coin")'>Coin</th>
							<th onclick='changeSorting("category")'>Category</th>
							<th onclick='changeSorting("subcategory")'>Subcategory</th>
							<th onclick='changeSorting("status")'>Status</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
				<br>
				<div class="next-page">
				</div>
				<div class="scams-zero-entries">
					<h1>No entries found.</h1>
					<br>
					<h3>You might be running an empty fork of CSDB, or your adblocker could be preventing the scams from loading.</h3>
				</div>
				<div class="scams-no-query-results">
					<h1>Sorry, it looks like no results matched your query.</h1>
					<br>
					<h3><a href="/scams">&larr; View all scams</a></h3>
				</div>
	</div>
	<div class="footer-grid-frame">
			<% include ../partials/footer %>
	</div>

	</div>
	<script>
		let page = <%= page %>;
		let sorting = "<%= sorting %>";
		let query = <%- JSON.stringify(query) %>;
	</script>
	<script src="/js/scams.js"></script>
</body>

</html>