<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" href="/css/verified.css">
	</head>
	<body class="verified-container-grid">
        <div class="nav-container">
            <% include ../partials/navbar %>
        </div>

        <div class="header-container">
            Verified Domains <img src="/assets/symbols/verified-black.svg" width="60px" height="30px">
        </div>
            
        <div class="content-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Description</th> 
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
        
        <div class="footer-container">
            <% include ../partials/footer.ejs %>
        </div>   
		
		<script src="/js/verified.js"></script>
    </body>
</html>
