body,.segment {
  background-color: rgb(178, 30, 30) !important;
  color: white;
}

.segment {
  border: none !important;
  box-shadow: none !important;
}

h1,h3,h4 {
  text-align: center !important;
}

button {
  margin-top: 8% !important;
}

.redirect-container {
  display: grid;
  grid-template-columns: [left-buffer] 10% [page-content] 80% [right-buffer] 10%;
  grid-template-rows: [navbar] auto [content] auto [footer] auto;
}

.nav-container{
  grid-column: left-buffer / -1;
  grid-row-start: navbar;
}

.content-container {
  grid-column-start: page-content;
  grid-row-start: content;
}

.footer-container {
  grid-column: left-buffer / -1;
  grid-row-start: footer;
  margin-top: 2%;
}