<div>
	<div class="footer-container footer-grid-container">
		
		<div class="left-side powered-by-grid">
			<div class="powered-by-content">
				<div class="align-center">
					<div class="item footer-cont float-right">
						<a href="https://mycrypto.com" rel="noopener" target="_blank">
							<img src="/assets/branding/powered-by-mycrypto.png" id="footer-item-img" alt="Powered by MyCrypto logo"/>
						</a>
					</div>
					<div class="item footer-cont">
						<a target="_blank" rel="noopener" href="https://twitter.com/CryptoScamDB"><img class="social-media-icon" src="/assets/branding/twitter.svg"></a>
						<a target="_blank" rel="noopener" href="https://www.npmjs.com/org/cryptoscamdb"><img class="social-media-icon" src="/assets/branding/npm.svg"></a>
						<a target="_blank" rel="noopener" href="https://medium.com/@CryptoScamDB"><img class="social-media-icon" src="/assets/branding/medium.svg"></a>
						<a target="_blank" rel="noopener" href="https://github.com/CryptoScamDB"><img class="social-media-icon" src="/assets/branding/github.svg"></a>
						<a target="_blank" rel="noopener" href="https://keybase.io/CryptoScamDB"><img class="social-media-icon" src="/assets/branding/keybase.svg"></a>
					</div>
				</div>
			</div>		
		</div>

		<div class="divider-grid">
			<div class="divider"></div>
		</div>

		<div class="center">
			<div class="footer-nav" style="color: white;">
                <a href="/faq" class="align-center"><p class="footer-nav-item accent-color">FAQ</p></a>
                <a href="/api" class="align-center"><p class="footer-nav-item accent-color">API</p></a>
			</div>
			<div class="footer-nav-two">

                <a href="/scams" class="align-center"><p class="footer-nav-item accent-color">SCAMS</p></a>
                <a href="/verified" class="align-center"><p class="footer-nav-item accent-color">VERIFIED DOMAINS</p></a>
			</div>
		</div>

		<div class="divider-grid-two">
				<div class="divider-two"></div>
		</div>

		<div class="right-side donate-grid">
			<div class="item footer-cont donate-content">
				<p>
					<div class="donate-text">
						Donate
					</div>
                    <br><br>
                    <div class="donate-buttons">
                        <a class="donate-btn donate-btn-grid ethereum" id="center-content" href="javascript:void(0);">
                            <img src="/assets/coins/ETH.svg" class="donate-icon" alt="Ethereum logo - Donation Button" />
                            <span class="donate-btn-text">Ethereum</span>
							<span id="donation-address-ethereum" style="display: none;">0x25a51b3a7163352d4f32d0ed4a012b73fc32c08a</span>
                        </a>
                        <a class="donate-btn donate-btn-grid bitcoin" id="center-content" href="javascript:void(0);">
                            <img src="/assets/coins/BTC.svg" class="donate-icon" alt="Bitcoin logo - Donation Button" />
                            <span class="donate-btn-text">Bitcoin</span>
							<span id="donation-address-bitcoin" style="display: none;">3KgPJg1ht8EQrCWPHMdYU6JVXadwPXeCQg</span>
                        </a>
					</div>
					<div class="donate-buttons">
						<a class="donate-btn donate-btn-grid monero" id="center-content" href="javascript:void(0);">
                            <img src="/assets/coins/XMR.svg" class="donate-icon" alt="Monero logo - Donation Button" />
                            <span class="donate-btn-text">Monero</span>
							<span id="donation-address-monero" style="display: none;">8BZ1f1L8reXN5G2kgLnWS3ZFQa8rPv2BHH898XkfH5qo6Cc7mYxsaiDRj8gJyqwrygESPG8MD7ZEXJ75rx66a7DQVcrjd7d</span>
                        </a>
						<a class="donate-btn donate-btn-grid bitcoincash" id="center-content" href="javascript:void(0);">
                            <img src="/assets/coins/BCH.svg" class="donate-icon" alt="Bitcoin Cash logo - Donation Button" />
                            <span class="donate-btn-text">Bitcoin Cash</span>
							<span id="donation-address-bitcoincash" style="display: none;">qq4rtza8sdlj6ke5c5j6tqrns7uuatunduskuj0apg</span>
                        </a>
                    </div>
					<p class="donation-address-copied"><span class="green-check">✓</span> Address Copied to Clipboard!</p>
				</p>
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js" integrity="sha256-Wl7niWgEJX3PdPn8lBzIDCWO1FBCYExjQihbT4ldMok=" crossorigin="anonymous"></script>
<script src="/js/donate.js"></script>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setCookieDomain", "*.cryptoscamdb.org"]);
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://analytics.mycryptoapi.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->