<div class="navbar nav-grid-container">
	<div class="nav-icon">
		<img src="/assets/logo/logotype-d.svg" style="height: 100%; width: 100%; display: grid;" alt="CryptoScamDB Navbar Logo" />
	</div>
	<div class="inner-nav-grid-container">
		<a href="/scams" class="active-scams inner-nav-item">
			<div class="active-scams-text">ACTIVE SCAMS</div>
		</a>
		<a href="/api" class="api inner-nav-item">
			<div class="api-text">API</div>
		</a>
		<a href="/faq" class="about inner-nav-item">
			<div class="about-text">ABOUT</div>
		</a>
		<a href="/search" class="domain-checker inner-nav-item">
			<div class="domain-checker-text">DOMAIN CHECKER</div>
		</a>
	</div>
	<div class="report-inner-grid">
		<a href="/report" class="report-rect inner-nav-item">
			<i class="report-text"></i> <div class="report-text">REPORT</div>
		</a>
	</div>
</div>
<% if(environment === "production" && announcement) { %>
<div class="ui container" style="background-color: #db2828; padding-top: 7px; padding-bottom: 7px; color: white; position: relative; margin-top: 55px; margin-bottom: -70px; width:100%; text-align: center;">
	<%- announcement %>
</div>
<% } %>