<div class="navbar nav-grid-container">
	<div class="nav-icon">
		<img src="/assets/logo/logotype-horizontal-yellowwhite.svg" style="height: 100%; width: 100%; display: grid;" alt="CryptoScamDB Navbar Logo" />
	</div>
	<div class="inner-nav-grid-container">
		<a href="/scams" class="active-scams inner-nav-item">
			ACTIVE SCAMS
		</a>
		<a href="/api" class="api inner-nav-item">
			API
		</a>
		<a href="/faq" class="about inner-nav-item">
			ABOUT
		</a>
		<a href="/search" class="domain-checker inner-nav-item">
			DOMAIN CHECKER
		</a>
	</div>
	<div class="report-inner-grid">
		<a href="/report" class="report-rect inner-nav-item">
			<div class="report-icon"> 
                <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="24px" # height="24px" viewBox="0 0 21 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
                        <title>ico-flag</title>
                        <desc>Created with Sketch.</desc>
                        <defs>
                            <path d="M7.99691406,6.96304747 L7.1688054,6.10088016 C6.88772004,6.33520628 6.47235784,6.31941474 6.20988201,6.05261407 C5.93011247,5.76874835 5.93011247,5.30850127 6.2094434,5.02463555 C6.37179119,4.85965213 6.59284985,4.79075516 6.80438444,4.8174989 C6.77806793,4.60253015 6.84586427,4.37788271 7.00821205,4.21289929 C7.28754298,3.92903357 7.74043753,3.92903357 8.01976846,4.21289929 C8.28230695,4.47969996 8.29784622,4.90218742 8.06726349,5.18739033 L8.94593744,6.10088016 C8.58195508,6.32985753 8.26076838,6.62251048 7.99691406,6.96304747 Z M8.42405033,11.4352892 C8.42405033,11.6563465 8.50324569,11.8572442 8.63157895,12.0062217 L7.89617707,12.8174199 C8.1076712,13.1021888 8.09301604,13.5224321 7.85261388,13.7879924 C7.59640713,14.0706692 7.18100507,14.0706692 6.92474085,13.7879924 C6.77583289,13.6237368 6.71370649,13.4001437 6.7378444,13.1861233 C6.54382153,13.2127491 6.34100555,13.1441561 6.19215506,12.9799005 C5.93594831,12.697287 5.93594831,12.2390703 6.19215506,11.9564568 C6.43290205,11.6908332 6.81428114,11.6751113 7.07169479,11.9083403 L8.0383609,10.8421053 C8.13301602,10.8984631 8.23002745,10.9456288 8.3262343,10.9888639 C8.35910784,11.0036983 8.39157909,11.0180889 8.42405033,11.0329866 L8.42405033,11.4352892 Z M14.4018042,11.9083823 C14.6595226,11.6750946 15.0404401,11.6908161 15.2812071,11.9564345 C15.5377762,12.2390423 15.5377762,12.6972498 15.2816093,12.9799209 C15.1327245,13.1441732 14.9299401,13.2127015 14.7359474,13.1860763 C14.760139,13.4000924 14.6979648,13.6237443 14.54908,13.7879966 C14.2929131,14.0706678 13.8775757,14.0706678 13.6214088,13.7879966 C13.3806418,13.5223783 13.3663337,13.101763 13.577795,12.817824 L12.8421053,12.0061983 C12.970476,11.8572872 13.0496591,11.6563301 13.0496591,11.4353407 L13.0496591,11.0329828 C13.0820678,11.017705 13.1149362,11.0033147 13.1478621,10.9884806 C13.2436517,10.9456267 13.3410503,10.898462 13.4352885,10.8421053 L14.4018042,11.9083823 Z M15.1955747,4.81751538 C15.4071056,4.7907711 15.6281605,4.85966946 15.7905054,5.02459253 C16.0698315,5.30846398 16.0698315,5.76878401 15.7905054,6.05265546 C15.5280342,6.31939783 15.1122406,6.33518969 14.8315987,6.10092252 L13.7915508,7.15789474 C13.5273251,6.81741456 13.2060813,6.52475571 12.8421053,6.29571004 L13.9327176,5.18741427 C13.7021389,4.90175987 13.7176779,4.47964596 13.9802744,4.21290359 C14.2596005,3.92903214 14.7124872,3.92903214 14.9918133,4.21290359 C15.1541583,4.37789033 15.2219534,4.6025423 15.1955747,4.81751538 Z M10.7366185,6.10526316 C12.4776628,6.10526316 13.8942896,7.44287463 13.8947368,9.08680841 C13.8947368,9.83626656 13.5857162,10.0104203 13.1142313,10.1908476 C12.9755329,10.2440529 12.8210545,10.3030492 12.6528405,10.399084 L12.6528405,11.1098749 C12.6528405,11.2528414 12.53005,11.3684211 12.3790215,11.3684211 L9.09504605,11.3684211 C8.94363424,11.3684211 8.82122704,11.2524191 8.82122704,11.1098749 L8.82122704,10.399084 C8.65262966,10.3030492 8.4985346,10.2440529 8.35945294,10.1908476 C7.88796803,10.0104203 7.57894737,9.83626656 7.57894737,9.08680841 C7.57894737,7.44287463 8.99557424,6.10526316 10.7366185,6.10526316 Z M12.0040057,9.25143102 C12.4675686,9.25143102 12.8438622,8.89642771 12.8438622,8.45835905 C12.8438622,8.02023006 12.4680159,7.66528707 12.0040057,7.66528707 C11.5399956,7.66528707 11.1640854,8.02023006 11.1640854,8.45835905 C11.1640854,8.89642771 11.5399956,9.25143102 12.0040057,9.25143102 Z M10.9809218,10.4576581 C11.1085677,10.4576581 11.1918123,10.3304963 11.134953,10.2223968 L10.8906497,9.76146552 C10.8585146,9.70156437 10.7977582,9.67164395 10.7366185,9.67164395 C10.6758621,9.67164395 10.6146585,9.70156437 10.5829706,9.76146552 L10.3386674,10.2223968 C10.2814247,10.3304963 10.3642221,10.4576581 10.4923152,10.4576581 L10.7366185,10.4576581 L10.9809218,10.4576581 Z M9.4692313,9.25143102 C9.93317756,9.25143102 10.3095988,8.89642771 10.3091516,8.45835905 C10.3091516,8.02023006 9.93317756,7.66528707 9.4692313,7.66528707 C9.00522115,7.66528707 8.62931096,8.02023006 8.62931096,8.45835905 C8.62931096,8.89642771 9.00522115,9.25143102 9.4692313,9.25143102 Z" id="path-1"></path>
                        </defs>
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Button" transform="translate(-14.000000, -12.000000)">
                                <g id="Group" transform="translate(14.000000, 12.000000)">
                                    <g id="ico-flag">
                                        <g id="flag">
                                            <path id="path-2" d="M19.3729196,1.21088734 C19.3644148,1.21786694 15.943272,1.90910778 13.5782345,1.90910778 C12.3130578,1.90910778 11.2226803,1.47845126 10.0675386,1.02258648 C8.79291635,0.520166252 7.47528113,0 5.83781435,0 C2.69368849,0 0.492297482,1.02819244 0.283479356,1.23420219 C0.102057084,1.41318452 0,1.65602283 0,1.90910778 L0,14.9201667 L0,21.0454275 C0,21.573056 0.433253395,22 0.96758545,22 C1.50187987,22 1.93513327,21.573056 1.93513327,21.0454275 L1.93513327,15.4351725 C2.35980664,15.2283089 4.25777351,14.9201667 5.83781435,14.9201667 C7.10299103,14.9201667 8.19385783,15.3508232 9.3485103,15.8066509 C10.6231325,16.3091082 11.9408054,16.8292745 13.5782345,16.8292745 C16.722812,16.8292745 20.5077025,15.8010449 20.7165583,15.5950352 C20.8979429,15.4160528 21,15.1736971 21,14.9201667 L21,1.90910778 C21,1.53577313 20.76563,1.20810292 20.4217518,1.05291807 C20.074976,0.897696094 19.6592213,0.966675388 19.3729196,1.21088734 Z" fill="#FFD166"></path>
                                                <mask id="mask-2" fill="white">
                                                    <use xlink:href="#path-1"></use>
                                                </mask>
                                            <use id="death" fill="#FFFFFF" xlink:href="#path-1"></use>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                <div class="report-text">REPORT</div>
            </div>
		</a>
	</div>
</div>
<% if(environment === "production" && announcement) { %>
<div class="ui container" style="background-color: #db2828; padding-top: 7px; padding-bottom: 7px; color: white; position: relative; margin-top: 55px; margin-bottom: -70px; width:100%; text-align: center;">
	<%- announcement %>
</div>
<% } %>