<div class="navbar nav-grid-container">
	<div class="nav-icon">
		<a href="/"><img src="/assets/logo/logotype-horizontal-yellowwhite.svg" style="height: 100%; width: 100%; display: grid;" alt="CryptoScamDB Navbar Logo" /></a>
	</div>
	<div class="inner-nav-grid-container">
		<a href="/scams" class="scams inner-nav-item">
            <img src="/assets/symbols/scams-white.svg" style="margin-right: 5px;"> SCAMS
		</a>
		<a href="/api" class="api inner-nav-item">
            <img src="/assets/symbols/api-white.svg" style="margin-right: 5px;"> API
		</a>
		<a href="/faq" class="faq inner-nav-item">
            <img src="/assets/symbols/faq-white.svg" style="margin-right: 5px;"> FAQ
		</a>
		<a href="/verified" class="domain-checker inner-nav-item">
            <img src="/assets/symbols/shield.svg" style="margin-right: 5px;"> VERIFIED DOMAINS
		</a>
	</div>
	<div class="report-inner-grid">
		<a href="/report" class="report-rect inner-nav-item">
			<div class="report-icon"> 
                <img src="/assets/symbols/report-flag.svg" style="margin-right: 5px;">
                <div class="report-text">REPORT</div>
            </div>
		</a>
	</div>
</div>
<% if(announcement) { %>
<div class="ui container" style="background-color: #db2828; padding-top: 7px; padding-bottom: 7px; color: white; position: relative; margin-top: 0px; margin-bottom: -20px; width:100%; text-align: center;">
<%- announcement %>
</div>
<% } %>